* {
color: black
}
body {
 background-color: violet;
}

body p {
 color:black;
 font-size:120%;
 font-weight: arial;
}

#principal {
 font-family: arial, verdana, sans-serif;
 font-size:170%;
 width="600" height="400"
}


table, th, td {
 border: 1px solid black;
}